
.cardPile{
	margin:20px;
}

#cardPiles .cardPile .Card {
	cursor: not-allowed;
}

#cardPiles .cardPile:nth-child(1) .Card {
	cursor: pointer;
}

.card {
	border:1px solid black;
	width:200px;
	margin: 3px 0px;
}

.blackCard {
	background:lightgray;
}

.blueCard {
	background:lightblue;
}

.yellowCard {
	background:yellow;
}
